<%= build_post_title(post) %>,
<%= display_header_photo(post) %>
<p class='post_content'><%= post.content %></p>
<div id='photos_wrapper' style='display:none;'>
	<% if post.photos.any? %>
		<% post.photos.each do |photo| %> 
		  <%= render partial: 'photos/thumbnail', object: photo %>
		<% end %>	
	<% else %>	
	  <p>No photos to display</p>
	<% end %>
</div>
</div id='comment_wrapper'>
	<% post.comments.each do |user_comment| %>
		<%= render partial: 'comments/comment', object: user_comment %>
	<% end %>
	<%= render partial: 'comments/form', locals: {comment: comment, parent_id: post.id} %>
</div>
	

	