<!DOCTYPE html>
<html>
<head>
  <title>Queenie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/header' %>	
<%= render partial: 'shared/flash' %>
<div id='content_wrapper'>
	<%= yield %>
</div>
</body>
</html>
